In [1]:
import pandas as pd
from os import read
import numpy as np

In [3]:
path = pd.read_csv("/content/Online_Retail.csv", encoding='latin1', encoding_errors='replace', engine='python')
print(path)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/10 8:26       2.55     17850.0  United Kingdom
1        12/1/10 8:26       3.39     17850.0  United Kingdom
2        12/1/10 8:26       2.75     17850.0  United Kingdom
3        12/1/10 8:26       3.39     17850.0  United Kingdom
4        12/1/10 8:26       3.39     17850.0  United Kingdom
...               ...        ...         ...             ...
541904  12/9/11 12:50       0.85     12680.0          France
541905  12/9/11 12:50       2.10     12680.0          France
541906  12/9/11 12:50       4.15     12680.0          France
541907  12/9/11 12:50       4.15     12680.0          France
541908  12/9/11 12:50       4.95     12680.0          France

[541909 rows x 8 columns]

In [5]:
fisrt_row = path.iloc[0]
print(fisrt_row)

InvoiceNo                                  536365
StockCode                                  85123A
Description    WHITE HANGING HEART T-LIGHT HOLDER
Quantity                                        6
InvoiceDate                          12/1/10 8:26
UnitPrice                                    2.55
CustomerID                                17850.0
Country                            United Kingdom
Name: 0, dtype: object

In [7]:
fisrt_row_five = path.iloc[6:5] #iloc es para lista traer cantidad
print(fisrt_row)

InvoiceNo                                  536365
StockCode                                  85123A
Description    WHITE HANGING HEART T-LIGHT HOLDER
Quantity                                        6
InvoiceDate                          12/1/10 8:26
UnitPrice                                    2.55
CustomerID                                17850.0
Country                            United Kingdom
Name: 0, dtype: object

In [9]:
subset = path.iloc[:3, :2] #iloc es para lista traer cantidad
print(subset)

  InvoiceNo StockCode
0    536365    85123A
1    536365     71053
2    536365    84406B

In [12]:
subset_2 = path.iloc[1, 3] #iloc es para lista traer cantidad
print(subset_2)

6

In [13]:
row_index_03 = path.iloc[3]
print(row_index_03)

InvoiceNo                                   536365
StockCode                                   84029G
Description    KNITTED UNION FLAG HOT WATER BOTTLE
Quantity                                         6
InvoiceDate                           12/1/10 8:26
UnitPrice                                     3.39
CustomerID                                 17850.0
Country                             United Kingdom
Name: 3, dtype: object

## Datos faltantes

In [17]:
missing_data  = path.isna()#
print(missing_data.head())#cantidad de datos faltantes solo me trae 05

   InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0      False      False        False     False        False      False
1      False      False        False     False        False      False
2      False      False        False     False        False      False
3      False      False        False     False        False      False
4      False      False        False     False        False      False

   CustomerID  Country
0       False    False
1       False    False
2       False    False
3       False    False
4       False    False

In [20]:
missing_data_count = path.isna().sum()
print("conteo de datos faltantes por columna:\n", missing_data_count) #datos faltantes

conteo de datos faltantes por columna:
 InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [22]:
no_missing_data = path.dropna()
print("conteo de datos faltantes por columna:\n", no_missing_data ) #datos faltantes eliminar

conteo de datos faltantes por columna:
        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/10 8:26       2.55     17850.0  United Kingdom
1        12/1/10 8:26       3.39     17850.0  United Kingdom
2        12/1/10 8:26       2.75     17850.0  United Kingdom
3        12/1/10 8:26       3.39     17850.0  United Kingdom
4        12/1/10 8:26       3.39     17850.0  United Kingdom
...               ...        ...         ...             ...
541904  12/9/11 12:50       0.85     12680.0          France
541905  12/9/11 12:50       2.10     12680.0          France
541906  12/9/11 12:50       4.15     12680.0          France
541907  12/9/11 12:50       4.15     12680.0          France
541908  12/9/11 12:50       4.95     12680.0          France

[406829 rows x 8 columns]

In [24]:
no_missing_data_02 = path.dropna(axis=1)
print("conteo de datos faltantes por columna:\n", no_missing_data_02 ) #datos faltantes eliminar tablas

conteo de datos faltantes por columna:
        InvoiceNo StockCode  Quantity    InvoiceDate  UnitPrice         Country
0         536365    85123A         6   12/1/10 8:26       2.55  United Kingdom
1         536365     71053         6   12/1/10 8:26       3.39  United Kingdom
2         536365    84406B         8   12/1/10 8:26       2.75  United Kingdom
3         536365    84029G         6   12/1/10 8:26       3.39  United Kingdom
4         536365    84029E         6   12/1/10 8:26       3.39  United Kingdom
...          ...       ...       ...            ...        ...             ...
541904    581587     22613        12  12/9/11 12:50       0.85          France
541905    581587     22899         6  12/9/11 12:50       2.10          France
541906    581587     23254         4  12/9/11 12:50       4.15          France
541907    581587     23255         4  12/9/11 12:50       4.15          France
541908    581587     22138         3  12/9/11 12:50       4.95          France

[541909 rows x 6 columns]

In [30]:
real_date_filler_zeros = path.fillna(0)#es para ver datos en 0
real_date_filler_zeros_count = real_date_filler_zeros.isna().sum()#datos tablas en 0
print(real_date_filler_zeros_count)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [36]:
mean_unit_price = path['UnitPrice'].mean()#precio unitario con la media
real_data_filter = path[path['UnitPrice'].fillna(mean_unit_price) > mean_unit_price]# llenamos los dtso con la media
print(real_data_filter )

       InvoiceNo StockCode                     Description  Quantity  \
5         536365     22752    SET 7 BABUSHKA NESTING BOXES         2
15        536367     22623   BOX OF VINTAGE JIGSAW BLOCKS          3
16        536367     22622  BOX OF VINTAGE ALPHABET BLOCKS         2
17        536367     21754        HOME BUILDING BLOCK WORD         3
18        536367     21755        LOVE BUILDING BLOCK WORD         3
...          ...       ...                             ...       ...
541859    581580     37500     TEA TIME TEAPOT IN GIFT BOX         1
541878    581585     23356           LOVE HOT WATER BOTTLE         3
541892    581586     21217   RED RETROSPOT ROUND CAKE TINS        24
541893    581586     20685           DOORMAT RED RETROSPOT        10
541908    581587     22138   BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  CustomerID         Country
5        12/1/10 8:26       7.65     17850.0  United Kingdom
15       12/1/10 8:34       4.95     13047.0  United Kingdom
16       12/1/10 8:34       9.95     13047.0  United Kingdom
17       12/1/10 8:34       5.95     13047.0  United Kingdom
18       12/1/10 8:34       5.95     13047.0  United Kingdom
...               ...        ...         ...             ...
541859  12/9/11 12:20       4.95     12748.0  United Kingdom
541878  12/9/11 12:31       5.95     15804.0  United Kingdom
541892  12/9/11 12:49       8.95     13113.0  United Kingdom
541893  12/9/11 12:49       7.08     13113.0  United Kingdom
541908  12/9/11 12:50       4.95     12680.0          France

[112649 rows x 8 columns]